doctype html
html
	head
		title Q3A Server Browser
		link(rel='stylesheet', href='/css/style.css')
		block scripts
	body
		nav
			.titlebar.right cpma utils
			.links
				a(href="/browser") servers
				a(href="/configs") configs

		block content 
